---
title: Senarai Pekeliling Perkhidmatan
desc : Senarai 27 Pekeliling Perkhidmatan penambahbaikan 81 skim perkhidmatan seperti yang diumumkan YAB Perdana Menteri dalam pembentangan bajet 2014 pada 25 Oktober 2013
---
			<h1>{{ desc }}</h1>
			<p class="center mark">Emel aduan/pertanyaan: <span class="red">pp2013@jpa.gov.my</span></p>
			<table class="filterable">
				<tr>
				  <th><img src="assets/blank.png" alt="[ICO]" /></th>
				  <th>Pekeliling Perkhidmatan</th>
				  <th>Tarikh Kuat Kuasa</th>
				  <th>Bilangan</th>
				</tr>{{#each build}}
				<tr>
				  <td><img src="assets/pdf.png" alt="[   ]"></td>
				  <td><a href="{{ path }}">{{ title }}</a>{{#if opsyen}}<br><a href="{{ opsyen }}"><img src="assets/doc.png" alt="[   ]"> Borang Opsyen</a>  {{/if}}</td>
				  <td>{{ effective_date }}</td>
				  <td>{{ bilangan }}</td>
				</tr>{{/each}}
			</table>